<!-- Donation Start -->
<div class="container-fluid bg-donation py-5" style="margin: 45px 0;">
  <div class="container py-5">
    <div class="row justify-content-start">
      <div class="col-lg-5">
        <div class="bg-white p-5">
          <div class="text-center py-5">
            <div class="position-relative mb-4">
              <h1 class="text-uppercase fw-bold">Apoyanos</h1>
            </div>
            <p class="fw-light">Puedes contribuir con nuestra causa de las siguientes maneras, ellos te lo agradeceran.
            </p>
            <hr class="w-25 mx-auto">
            <div class="d-flex flex-column flex-sm-column flex-md-row flex-xl-row justify-content-center gap-4">
              <button class="rounded-5 btn-material-primary" mat-raised-button>
                <mat-icon>share</mat-icon>Compartir
              </button>
              <button class="rounded-5 btn-material-primary" mat-raised-button>
                <mat-icon>attach_money</mat-icon>Donar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Donation End -->