<!-- History Start -->
<div class="container-fluid py-5">
  <div class="container">
    <div class="text-center ps-4 mb-5">
      <h2 class="text-primary text-uppercase mb-4">Esperando por tu ayuda</h2>
      <h6 class="mb-0 fw-bold">Descubre la impactante historia detrás de cada donación y cómo has contribuido a cambiar
        vidas. Acompáñanos en este
        viaje de compasión y solidaridad, donde cada gesto cuenta y hace posible un futuro más brillante para aquellos
        que más
        lo necesitan.</h6>
    </div>
    <div class="row g-5">
      <div class="col-lg-6" *ngFor="let i of DONATION_DATA">
        <div class="blog-item">
          <div class="row g-0 bg-light overflow-hidden">
            <div class="col-12 col-sm-5 h-100">
              <img class="img-fluid h-100" src="./assets/img/happy-dog.jpg" style="object-fit: cover;">
            </div>
            <div class="col-12 col-sm-7 h-100 d-flex flex-column justify-content-center">
              <div class="p-4">
                <div class="d-flex mb-3">
                  <small><i class="bi bi-calendar-date me-2"></i>{{i.story_date | date: 'dd MMM, yyyy'}} </small>
                </div>
                <h5 class="text-uppercase mb-3">{{i.story_title}}</h5>
                <p>{{i.story_info}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- History End -->