<div class="container-fluid">
  <div class="modal-header border-0">
    <button type="button" class="btn-close" style="font-size: 12px;" aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body mb-3 pt-1">
    <div class="header">
      <h3>Gracias por tu comentario!</h3>
    </div>
    <div class="message">
      <p class="h6">Seguiremos trabajando constantemente para mejorar tu experiencia y servicios que brindamos.</p>
    </div>
  </div>
  <div class="modal-footer">
    <button class="rounded-5 btn-material-primary w-auto" mat-raised-button>
      <mat-icon>home</mat-icon>Volver al inicio
    </button>
  </div>
</div>