<!-- Table Start -->
<div class="container-fluid">
  <div class="container  border border-2">
    <div class="row">
      <div class="col-4 p-0">
        <div class="accordion accordion-flush" id="accordionAdopt">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button text-uppercase bg-accordion" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapse-adopt">
                <div class="d-flex align-items-center gap-2">
                  <mat-icon>menu</mat-icon>Personalidad
                </div>
              </button>
            </h2>
            <div id="flush-collapse-adopt" class="accordion-collapse collapse show" data-bs-parent="#accordionAdopt">
              <div class="accordion-body">
                <div class="d-flex flex-column justify-content-start gap-2 overflow-y-scroll" style="height: 350px">
                  <a class="text-body mb-2" (click)="filterPersonality('all')" style="cursor: pointer"><i
                      class="bi bi-arrow-right text-primary me-2"></i>Todos</a>
                  <a class="text-body mb-2" (click)="filterPersonality(i)" style="cursor: pointer"
                    *ngFor="let i of PERSONALITY_DATA"><i class="bi bi-arrow-right text-primary me-2"></i>{{i}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8 bg-dark-subtle">
        <div class="row bg-light" style="height: 56px;">
          <div class="d-flex justify-content-end align-items-center gap-2">
            <!-- <button class="rounded-5 btn-material-primary w-auto" mat-raised-button [matMenuTriggerFor]="menu">
              <mat-icon>filter_list</mat-icon>Filtrar
            </button> -->
            <div class="input-group w-auto">
              <input type="text" class="form-control border-primary border-end-0" #search>
              <button class="btn btn-outline-primary border-start-0" (click)="filterName(search.value)" type="button"><i
                  class="bi bi-search"></i></button>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="container">
            <div class="row row-cols-4" style="height: 385px; overflow: scroll;">
              <div class="col" *ngFor="let i of PET_DATA">
                <div class="w-auto my-2 bg-secondary rounded-1 card-item"
                  [ngStyle]="{'background-image': 'url('+i.pet_image}"
                  style="height: 240px; background-position: center;" (click)="open(i.id)">
                  <div class="d-flex flex-column justify-content-end h-100 position-relative">
                    <div class="text-light ps-2">
                      <h1 class="h5 fw-bold">{{i.pet_name}}</h1>
                      <h3 class="" style="font-size: 12px;">{{i.pet_personality}}</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Table End -->

<mat-menu #menu="matMenu">
  <div class="menu-logged">
    <button mat-menu-item><mat-icon>account_circle</mat-icon>x</button>
    <button mat-menu-item><mat-icon>exit_to_app</mat-icon>x</button>
  </div>
</mat-menu>