<div class="container-fluid py-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="mb-5">
          <div class="border-start border-5 border-primary ps-4 mb-5">
            <h6 class="text-primary text-uppercase">COMPROMISO</h6>
            <h1 class="display-5 text-uppercase mb-0 fw-bold">UN NUEVO COMIENZO JUNTOS</h1>
          </div>
          <h4 class="text-body mb-4 h6">
            <p>Yo, [Tu Nombre], como futuro dueño de [Nombre de la Mascota], me comprometo a
              transferir la responsabilidad y custodia
              de [Nombre de la Mascota] a [Nombre de la Nueva Persona], quien acepta la adopción de [Nombre de la
              Mascota]
              y
              asume
              todos los deberes y responsabilidades relacionados con su cuidado. Este compromiso incluye:</p>
            <div class="line">
              <span class="fw-bold me-1">• Cuidado y Alimentación:</span><span>[Nombre de la Nueva Persona] se
                compromete
                a proporcionar a [Nombre de la Mascota] una
                alimentación adecuada y acceso a agua fresca en todo momento, asegurando su salud y bienestar.</span>
            </div>
            <div class="line">
              <span class="fw-bold me-1">• Atención Médica:</span><span>[Nombre de la Nueva Persona] se compromete a
                proporcionar atención médica regular, incluyendo
                chequeos,
                vacunas y atención dental cuando sea necesario.</span>
            </div>
            <div class="line">
              <span class="fw-bold me-1">• Ejercicio y Entretenimiento:</span><span>[Nombre de la Nueva Persona]
                garantizará que [Nombre de la Mascota] reciba
                suficiente
                ejercicio y estimulación mental a través de paseos regulares, tiempo de juego y la provisión de juguetes
                adecuados.</span>
            </div>
            <div class="line">
              <span class="fw-bold me-1">• Entorno Seguro:</span><span>[Nombre de la Nueva Persona] mantendrá un entorno
                seguro para [Nombre de la Mascota],
                protegiéndola de
                peligros y proporcionando un lugar cómodo para descansar.</span>
            </div>
            <div class="line">
              <span class="fw-bold me-1">• Educación y Entrenamiento:</span><span>[Nombre de la Nueva Persona]
                proporcionará una educación adecuada y entrenamiento
                si es
                necesario para el comportamiento y la obediencia de [Nombre de la Mascota].</span>
            </div>
            <div class="line">
              <span class="fw-bold me-1">• Amor y Afecto:</span><span>[Nombre de la Nueva Persona] considerará a [Nombre
                de la Mascota] como parte de su familia,
                tratándola
                con amor, cariño y respeto, y brindándole apoyo emocional.</span>
            </div>
            <div class="line">
              <span class="fw-bold me-1">• Adhesión a la Ley:</span><span>[Nombre de la Nueva Persona] cumplirá con
                todas
                las leyes y regulaciones locales
                relacionadas con la
                tenencia de mascotas, incluyendo la identificación y licencia adecuada.</span>
            </div>
            <div class="line">
              <span class="fw-bold me-1">• Compromiso de por Vida:</span><span>[Nombre de la Nueva Persona] asume la
                responsabilidad de cuidar de [Nombre de la
                Mascota]
                durante toda su vida, independientemente de las circunstancias que puedan surgir.</span>
            </div>
          </h4>
        </div>
        <div class="pt-3">
          <div class="check-compromise">
            <mat-checkbox class="example-margin">Yo, [Tu Nombre], reconozco haber leído el compromiso de adopción y que
              esta adopción se realiza de forma voluntaria y en
              el mejor interés de [Nombre de mascota].</mat-checkbox>
          </div>
          <div class="button-compromise mt-5 text-center">
            <button mat-raised-button color="primary" class="p-4 rounded-3 text-uppercase text-white w-50"
              style="height: 56px;" (click)="open()">ADOPTAR</button>
          </div>
        </div>

      </div>
      <div class="col position-relative">
        <div class="h-100 w-100  effect" [ngStyle]="{'background-image': 'url(./assets/img/cat.png)'}"></div>
      </div>
    </div>

  </div>
</div>