<div class="container-fluid py-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="mb-5">
          <div class="border-start border-5 border-primary ps-4 mb-5">
            <h6 class="text-primary text-uppercase">COMPROMISO</h6>
            <h1 class="display-5 text-uppercase mb-0 fw-bold">UN NUEVO COMIENZO JUNTOS</h1>
          </div>
          <h4 class="text-body mb-4 h6">
            <p>Yo, Daniel, como futuro dueño de {{PET_DATA[0].pet_name}}, me comprometo a
              tener la responsabilidad y custodia
              de {{PET_DATA[0].pet_name}}, quien acepta la adopción de {{PET_DATA[0].pet_name}}
              y
              asume
              todos los deberes y responsabilidades relacionados con su cuidado. Este compromiso incluye:</p>
            <div class="line">
              <span class="fw-bold me-1">• Cuidado y Alimentación:</span><span>Me
                comprometo
                a proporcionar a {{PET_DATA[0].pet_name}} una
                alimentación adecuada y acceso a agua fresca en todo momento, asegurando su salud y bienestar.</span>
            </div>
            <div class="line">
              <span class="fw-bold me-1">• Atención Médica:</span><span>Daniel se compromete a
                proporcionar atención médica regular, incluyendo
                chequeos,
                vacunas y atención dental cuando sea necesario.</span>
            </div>
            <div class="line">
              <span class="fw-bold me-1">• Ejercicio y Entretenimiento:</span><span>Daniel
                garantizará que {{PET_DATA[0].pet_name}} reciba
                suficiente
                ejercicio y estimulación mental a través de paseos regulares, tiempo de juego y la provisión de juguetes
                adecuados.</span>
            </div>
            <div class="line">
              <span class="fw-bold me-1">• Entorno Seguro:</span><span>Daniel mantendrá un entorno
                seguro para {{PET_DATA[0].pet_name}},
                protegiéndola de
                peligros y proporcionando un lugar cómodo para descansar.</span>
            </div>
            <div class="line">
              <span class="fw-bold me-1">• Educación y Entrenamiento:</span><span>Daniel
                proporcionará una educación adecuada y entrenamiento
                si es
                necesario para el comportamiento y la obediencia de {{PET_DATA[0].pet_name}}.</span>
            </div>
            <div class="line">
              <span class="fw-bold me-1">• Amor y Afecto:</span><span>Daniel considerará a {{PET_DATA[0].pet_name}} como
                parte de su familia,
                tratándola
                con amor, cariño y respeto, y brindándole apoyo emocional.</span>
            </div>
            <div class="line">
              <span class="fw-bold me-1">• Adhesión a la Ley:</span><span>Daniel cumplirá con
                todas
                las leyes y regulaciones locales
                relacionadas con la
                tenencia de mascotas, incluyendo la identificación y licencia adecuada.</span>
            </div>
            <div class="line">
              <span class="fw-bold me-1">• Compromiso de por Vida:</span><span>Daniel asume la
                responsabilidad de cuidar de {{PET_DATA[0].pet_name}}
                durante toda su vida, independientemente de las circunstancias que puedan surgir.</span>
            </div>
          </h4>
        </div>
        <div class="pt-3">
          <div class="check-compromise">
            <mat-checkbox #check>Yo, Daniel, reconozco haber leído el compromiso de adopción y que
              esta adopción se realiza de forma voluntaria y en
              el mejor interés de {{PET_DATA[0].pet_name}}.</mat-checkbox>
          </div>
          <div class="button-compromise mt-5 text-center">
            <button mat-raised-button color="primary" class="p-4 rounded-3 text-uppercase text-white w-50"
              style="height: 56px;" [disabled]="check.disabled || !check.checked" (click)="open()">ADOPTAR</button>
          </div>
        </div>

      </div>
      <div class="col position-relative">
        <div class="h-100 w-100  effect" [ngStyle]="{'background-image': 'url(./assets/img/cat.png)'}"></div>
      </div>
    </div>

  </div>
</div>