<!-- Hero Start -->
<div class="container-fluid bg-primary py-5 mb-5 hero-header">
  <div class="container py-5">
    <div class="row justify-content-start">
      <div class="col-lg-8 text-center text-lg-start">
        <h1 class="display-1 text-uppercase text-white my-lg-5 my-sm-4 fw-medium">StayFriends</h1>
        <h1 class="text-uppercase text-white mb-lg-4">SubTitulo</h1>
        <p class="fs-4 text-white mb-lg-4">Somos una organizacion dedicada al rescate de animales callejeros, para asi
          brindarles una nueva oportunidad de vida. </p>
      </div>
    </div>
  </div>
</div>
<!-- Hero End -->