<div class="container-fluid py-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="border-start border-5 border-primary ps-4 mb-5">
        <h6 class="text-primary text-uppercase">CONSULTAS</h6>
        <h1 class="display-5 text-uppercase mb-2 fw-bold">PREGUNTAS Y RESPUESTAS</h1>
        <h4 class="text-body h6">
          Recopilamos las preguntas que mas frecuentan consultarnos; por lo cual, mediante este medio les brindaremos
          una
          respuesta detallada para cada una de sus dudas.
        </h4>
      </div>

    </div>
    <div class="row">
      <div class="col-8">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Adopción
              </mat-panel-title>
              <mat-panel-description>
                Donde debo ir para recoger a mi mascota adoptada?
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Respuesta.</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Adopción
              </mat-panel-title>
              <mat-panel-description>
                Quiero dar en adopción
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Respuesta</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Adopción
              </mat-panel-title>
              <mat-panel-description>
                Donde debo ir para recoger a mi mascota adoptada?
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Respuesta.</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Adopción
              </mat-panel-title>
              <mat-panel-description>
                Quiero dar en adopción
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Respuesta</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Adopción
              </mat-panel-title>
              <mat-panel-description>
                Donde debo ir para recoger a mi mascota adoptada?
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Respuesta.</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Adopción
              </mat-panel-title>
              <mat-panel-description>
                Quiero dar en adopción
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Respuesta</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>