<!-- Table Start -->
<div class="container-fluid mb-5">
  <div class="container  border border-2">
    <div class="row">
      <div class="col-12 bg-dark-subtle">
        <div class="row bg-light" style="height: 56px;">
          <div class="d-flex justify-content-end align-items-center gap-2">
            <div class="input-group w-auto">
              <input type="text" class="form-control border-primary border-end-0"
                aria-label="Text input with segmented dropdown button">
              <button class="btn btn-outline-primary border-start-0" type="button"><i class="bi bi-search"></i></button>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="container">
            <div class="row row-cols-6">
              <div class="col" *ngFor="let i of FAVOURITE_DATA">
                <div class="w-auto my-2 bg-secondary rounded-1 card-item"
                  [ngStyle]="{'background-image': 'url('+i.pet_image}"
                  style="height: 240px; background-position: center;" (click)="open(i.id)">
                  <div class="d-flex flex-column justify-content-end h-100 position-relative">
                    <div class="text-light ps-2">
                      <h1 class="h5 fw-bold">{{i.pet_name}}</h1>
                      <h3 class="" style="font-size: 12px;">{{i.pet_personality}}</h3>
                    </div>
                    <!-- <div class="text-end p-1 item-button">
                      <button mat-mini-fab class="item-icon">
                        <mat-icon class="text-white">favorite</mat-icon>
                      </button>
                    </div> -->
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Table End -->

<mat-menu #menu="matMenu">
  <div class="menu-logged">
    <button mat-menu-item><mat-icon>account_circle</mat-icon>x</button>
    <button mat-menu-item><mat-icon>exit_to_app</mat-icon>x</button>
  </div>
</mat-menu>