<!-- Adoption Start -->
<div class="container-fluid py-5">
  <div class="container">
    <div class="mb-5">
      <h2 class="display-6 text-uppercase mb-0 fw-bold text-center">Patrocinadores</h2>
    </div>
    <!-- Carousel Start-->
    <owl-carousel-o class="animal-carousel position-relative" [options]="configuracion">
      <ng-template carouselSlide *ngFor="let i of SPONSOR_DATA">
        <div class="d-flex justify-content-center align-items-center" style="min-height: 150px;">
          <img class="img-fluid w-75" [src]="i.sponsor_image" [alt]="i.sponsor_name">
        </div>
      </ng-template>
    </owl-carousel-o>
    <!-- Carousel End -->
  </div>
</div>
<!-- Adoption End -->