<!-- Adoption Start -->
<div class="container-fluid mt-5 py-5">
  <div class="container">
    <div class="text-center ps-4 mb-5">
      <h2 class="text-primary text-uppercase mb-4">Nuestros donadores</h2>
      <h6 class="mb-0 fw-bold">Descubre cómo personas comprometidas con nuestra causa contribuyen generosamente para
        mejorar la vida de los animales.
        Cada donación marca la diferencia y nos impulsa a seguir trabajando juntos por el bienestar animal.</h6>
    </div>
    <!-- Carousel Start-->
    <owl-carousel-o class="animal-carousel position-relative" [options]="configuracion" style="padding-right: 25px;">
      <ng-template carouselSlide *ngFor="let i of CARROUSEL_DATA">
        <div class="animal-item">
          <div class="position-relative overflow-hidden">
            <img class="img-fluid w-100" src="./assets/img/cat.png" alt="">
            <div class="animal-overlay">
              <div class="d-flex align-items-center justify-content-start">
                <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-facebook"></i></a>
                <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-instagram"></i></a>
              </div>
            </div>
          </div>
          <div class="bg-light text-center p-4">
            <h5 class="text-uppercase">{{i.donor_name}}</h5>
            <p class="m-0">{{i.donor_reason}}</p>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
    <!-- Carousel End -->
  </div>
</div>
<!-- Adoption End -->