<div class="container-fluid">
  <div class="modal-header">
    <button type="button" class="btn-close" style="font-size: 12px;" aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body my-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6 px-5">
          <div class="container-fluid px-4 border border-1" style="height: 300px;">
            <div class="bg-danger h-100" [ngStyle]="{'background-image':'url('+PET_DATA[0].pet_image}"
              style="background-position: left; background-size: cover;">
            </div>
          </div>
          <div class="d-flex flex-column gap-1 mt-3">
            <div class="line">
              <span class="fw-bold me-1">• Especie:</span><span>{{PET_DATA[0].pet_species}}</span>
            </div>
            <div class="line">
              <span class="fw-bold me-1">• Edad:</span><span>{{PET_DATA[0].pet_age}}</span>
            </div>
            <div class="line">
              <span class="fw-bold me-1">• Peso:</span><span>{{PET_DATA[0].pet_weight}} Kg</span>
            </div>
            <div class="line">
              <span class="fw-bold me-1">• Tamaño:</span><span>{{PET_DATA[0].pet_size}} cm</span>
            </div>
          </div>
        </div>
        <div class="col-md-6 px-5">
          <div class="header">
            <h2 class="text-uppercase h1">{{PET_DATA[0].pet_name}}</h2>
          </div>
          <div class="info-container">
            <div class="info-title">
              <h6 class="">Descripcion:</h6>
            </div>
            <div class="info-text">
              {{PET_DATA[0].pet_description}}
            </div>
          </div>
          <div class="info-container">
            <div class="info-title">
              <h6 class="">Personalidad:</h6>
            </div>
            <div class="info-text">
              <div class="line">
                <span class="fw-bold me-1">• {{PET_DATA[0].pet_personality}}</span>
              </div>
            </div>
          </div>
          <div class="footer mt-3">
            <div class="d-flex justify-content-between align-items-center gap-3 px-4">
              <button mat-raised-button color="primary" class="p-4 rounded-3 text-uppercase text-white w-100"
                [routerLink]="['/home/compromise']" (click)="activeModal.dismiss()"
                style="height: 56px;">ADOPTAR</button>
              <button mat-fab class="rounded-3 bg-white" (click)="favourite()">
                <mat-icon>favorite</mat-icon>
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!--
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div>-->
  </div>